:root {
    --branco_titulos: #FFFFFF;
    --cinza_secundario: #C0C0C0;
    --botao_cor: #167BF7;
    --cor_de_fundo: #00030C;
    --fonte_principal: 'Inter';

}

body {
    background-color: var(--cor_de_fundo);
    color: var(--branco_titulos);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
}


.main {
    background-image: url("../Images/background1.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 95%;
    align-items: center;
    padding: 3vh;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}


.titulo {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.valores_combo {
    margin-left: 25%;
    padding: 1vh;
}

.botao {
    display: block;
    text-align: center;
    background-color: var(--botao_cor);
    border-radius: 1vh;
    padding: 2vh;
    color: var(--branco_titulos);
    text-decoration: none;
    margin-bottom: 1em;
}

.botao:hover {
    background-color: var(--cinza_secundario);
    color: black;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco_titulos);
}

.avisopreco {
    font-size: 12px;
    color: var(--cinza_secundario);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.imagem_secundaria {
    width: 80%;
}

.descricao_titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco_titulos);
    margin-bottom: 1vh;
}

.descricao_subtitulo {
    color: var(--cinza_secundario);
    font-size: 16px;
}

.terceiro_botao {
    display: inline-block;
    margin-top: 2vh;
}

.telas_imagens {
    margin-left: 10vh;
}

.imagem_sessaoquatro {
    width: 60vh;
}

.container_final {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

}

.titulo_final {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: var(--branco_titulos);
    font-weight: 700;
}

.lista_dispositivos {
    display: flex;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.icone_alura {
    margin-bottom: 5vh;
    margin-top: 10vh;
    width: 10vh;
}

.rodape {
    margin-bottom: 3vh;
}

.lista_rodape a {
    text-decoration: none;
    color: var(--branco_titulos);
    font-size: 16px;
    font-family: var(--fonte_principal);
}

.lista_rodape a:hover {
    color: var(--botao_cor);
}

.lista_rodape a:active {
    color: slateblue;
}

.lista_rodape {
    display: flex;
    gap: 3vh;
    justify-content: center;
    margin-bottom: 5vh;
}

footer {
    color: var(--cinza_secundario);
    font-size: 14px;
    text-align: center;
    margin: 5%;
}

@media (max-width: 576px) {
    body {
        padding: 0;
    }

    .main {
        background-size: 70%;
        background-position: top;
        align-items: center;
        padding: 2vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .titulo {
        width: 70vh;
        margin-top: 60%;
    }

    .valores_combo {
        margin-left: 10%;
        margin: 10%;
    }

    .secundario {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .descricao_titulo {
        text-align: center;
    }

    .descricao_subtitulo {
        text-align: center;
        width: 45vh;
    }

    .terceiro_botao {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .telas_imagens {
        margin-left: 0;
    }

  .lista_dispositivos {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.lista_rodape a {
    font-size: 0.8125rem;
}

}